body {
    margin: 0;
    background-image: url(./../../Imagens/Inicio/cenario.jpg);
    background-size: 100%;
}

.inicio {
    display: flex;
    align-items: center;
    background: gray;
    opacity: 0.9;
    justify-content: space-between;
}

.titulo {
    font-size: 30px;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}

.recomecar {
    margin-top: 10px;
    margin-right: 70px;
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-radius: 3px;
    padding: 5px;
}

.recomecar:hover {
    font-size: 17px;
    color: #DAA520;
}

.menu-introdutorio {
    text-align: center;
}

.introducao {
    padding: 25px;
    background: gray;
    opacity: 0.9;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 420px;
    border-radius: 5px;
    width: 500px;
}

.botao {
    color: black;
    background: gray;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 550px;
}

.botao:hover {
    font-size: 22px;
}

.botao:active {
    background-color: green;
}

footer {
    background: gray;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;    
    text-align: center;
    line-height: 10px;
}

@media (max-width: 700px) {
    .cabecalho{
        width: 400px;
    }

    .recomecar {
        margin-right: 10px;
    }
    
    .introducao {
        margin-left:29px;
        justify-content: flex-start;
        width: 300px;
        padding: 10px;
    }

    .titulo{
        margin-left: 20px;
    }

    .botao{
        margin-left: 80px;
        font-size: 15px;
        margin-bottom: 10px;
    }

    footer{
        width: 400px;
        position: initial;
        font-size: 13px;
        line-height: 30px;
    }
    
}